<ion-content>
	<ion-header>
		<img src="../../assets/images/logo-01.png" class="logo">
		<div class="avatar-user">
			<img [src]="repOne.owner['avatar_url']" alt="">
		</div>
	</ion-header>
	<form (ngSubmit)="submit(f.value)" #f="ngForm" class="form-login">
	<div class="select-person">
		<h3>{{repOne.name}}</h3>
	</div>
  	<ion-list>
      <!--<ion-item>
        <ion-label>Email 2</ion-label>
        <ion-select name="email" [(ngModel)]="user.email">
          <ion-option *ngFor="let evaluator of users">{{evaluator.email}}</ion-option>
        </ion-select>
      </ion-item>-->
	  <div class="hide-password"  #contentPassword>
		<ion-item>
			<ion-label fixed>Password</ion-label>
			<ion-input type="password" name='password' [ngModel]='user.password' required></ion-input>
    	</ion-item>
		<ion-item>
    		<button ion-button  type="submit" color="secondary" [disabled]="!f.valid">Enviar</button>
  		</ion-item>
	  </div>
    </ion-list>
	<ion-content class="list-users"  #contentUsers>
		<ion-list>
			<ion-item *ngFor="let repos of repositories" (click)="setMainRepository(repos)">
				<ion-avatar item-left>
					<img [src]="repos.owner['avatar_url']" alt="">
				</ion-avatar>
				<h2>{{repos.name}}</h2>
			</ion-item>
		</ion-list>
	</ion-content>
 </form>

</ion-content>
